*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 auto;
    max-width: 700px;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    padding: 0 16px;
}

header{
    background-color: whitesmoke;
    margin-bottom: 50px;
    margin-top: 16px;
}

.main-content{
    flex-grow: 1;
}

header a{ 
    padding:  10px  ;
    color: rgb(61, 61, 63);
    text-decoration: none;
}
h1{
    color: rgb(37, 37, 38);
    font-size: 65px;
    margin-bottom: 16px;
}

img{
    width: 200px;
}

footer{
    background-color: rgb(252, 249, 249);
    border-top: 1px solid rgb(210, 209, 207);
    margin-top: 16px;
    padding: 16px 0;
}